
*{
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: papayawhip;
    height: 40px;
    line-height: 35px;
}
.img--header{
    width:200px;
    height:200px;
}

.selection{
    cursor:pointer;
    font-size: 20px;
    font-family:  Verdana;
}

#Cart--count--for--all{
    background-color: #ffdd00;
    color:black;
    display:none;
    width:20px;
}
.nav--header{
    font-weight: bolder;
    font-size: 30px;
    position:relative;
    top:30px;
    text-decoration: none;
    color:black;
    right:10px;
}
#visitor{
    font-size: 15px;
    font-weight: lighter;
}
.visit{
    display: block; 
    position: absolute;left:67px;
}
h1{
    float:left;
}
td{
    width: 108px;
}
.tb1{
    margin-left: 55%;
    /* margin-top:4%; */
    position:relative;
    top: 80px;
} 
li{
    list-style-type: none;
    line-height: 30px;
}
ul{
    background-color: white;
    display:none;
}
.list:hover{
    transition: ease 1s;
    margin-left:10px;
}
.list{
    color:black;
    text-decoration: none;
    position:relative;
    bottom:20px;
    display:inline-block;
    width:max-content;
    font-size: 15px;
}
.cart-icon{
    cursor: pointer;
}
.btn-primary{
   width:max-content;
   margin-top: -30%;
}
/* .offcanvas-end{
    text-align: center;
} */
.cart--empty{
    margin-top:50%;
}
section{
    clear:both;
    margin-top:120px;
}
.checkout{
    display:flex;
    justify-content: space-between;
}
.gotocheckout{
    text-align: center;
}
.buttonCheck{
    background-color: black;
    color:white;
    line-height: 30px;
}
.remove{
    cursor: pointer;
    text-decoration: underline;
}
#Last--cart{
    position:absolute;
    bottom:0;
    display:none;   
}
.empty1{
   text-align: center;
   margin-top: 200px;
}
/* h2{
    font-size: 30px;
} */

.No--cart{
    text-align: center;
}
.pic1{
    width:350px;
    height:300px;
    margin-left:90px;
    margin-top:45.3%;
}
/* .home--pic12--section{
    display:flex;
    justify-content: center;
} */
#picture--home{
    margin-top:2%;
}
.pic--home{
    display:flex;
    justify-content: space-around;
    margin-top:2%;
}
.pic{
    width:490px;
}
.center--modal{
    text-align: center;
    margin-top:-20px;
}
#button--modal{
    color:white;
    background-color: black;
    line-height: 50px;
    font-weight: bold;
}
#button--modal:hover{
    background-color: rgba(7, 5, 12, 0.7);
}
#Play{
    margin-left:20%;
}
/* .pic3{
    width:300px; 
    height:300px;
    background-color: aquamarine;
} */
.tb2{
    margin-left: 38.1%;
    /* margin-top:5px; */
}
.pic2{
    width:800px;
    height:500px;
    /* margin-left:1%; */
}
.range{
    height:50px;
}
.P1{
    display:inline-block;
    width:480px;
    margin-left:10px;
    text-align: justify;
 
}
.Cost{
    color: black;
    text-decoration: none;
}
.Td--cost{
    width:max-content;
    text-decoration: line-through;
    position:relative;
    right:14%;
}
.td1--cost{
    width:max-content;
    text-align: center;
}
.table--home{
    /* margin:auto; */
    width:280px;
}
.gotoshop{
    text-decoration: underline blue;
    margin-left:10px;
}
.gotoshop:hover{
    background-color: pink;
}

.gotoshop{
    color:black;
}
.lastest--shop{
    margin-left: 20%;
}
.lastest--shop--first{
    margin-left:60%;
}
.name-product{
    width:max-content;
}
.lastest--shop--last{
   position: relative;
   right: 70px;
}
.name-product--special{
    margin-left:30px;
}
.star--begin{
    text-align: center; 
    margin-left:40%;
    margin-top:-10%;
    color: yellowgreen;
}
.star{
    color:yellowgreen;
    margin-top:-5%;
    margin-left:25%;
}
.name-product--begin{
    text-align: center;
    margin-left: 25%;
    color:black;
}
.name-product--center{
    text-align: center;
    color:black;
    margin-right:25%;
}
.name-product--last{
    text-align: center;
    color:black;
    margin-right: 45%;
}
.name-product--begin:hover{
    border:solid;
    background-color: yellowgreen;
    text-align: center;
    color: black;
}
.name-product--center:hover{
    border:solid;
    background-color: yellowgreen;
    text-align: center;
    color: black;
    width:100px;
    margin-left:20%;
}
.name-product--last:hover{
    border:solid;
    background-color: yellowgreen;
    text-align: center;
    color: black;
    width:100px;
    margin-left:15%;
}
.name-product--emrald{
    margin-left:15%;
    width:max-content;
}
.star--last{
    color:yellowgreen;
    margin-top:-4%;
    margin-left:18%;
}
.table--home:hover{
    border:solid;
    background-color: yellowgreen;
    width:200px;
    text-align: center;
    color: black;
}
.shipping--return--quality{
    width:50px;
    height: 50px;
    display:block;
    margin:auto;
}
.sec3{
    margin-top: 5%;
    display:flex;
    justify-content: space-around;
}
.div1{
    width:200px;
    text-align: center;
}
.div2{
    margin-top:5%;
    background-color: papayawhip;
}
.lastest--collection,.Newest{
    text-align: center;
}
.Shop{
    background-color: white;
}
.Newest{
    font-size: 40px;
    margin-left:40px;
}
img{
width:200px;
height: 200px;
}
.content--shop--home{
    display:inline-block;
    width:200px;
    text-align: center;
} 
.d-block:hover{
    box-shadow: 0px 3px 17px 11px white;
}
.nearfooter{
    display:grid;
    grid-template-columns: auto auto auto auto;
    width:50%;
    margin-left:10%;
    text-align: justify;
    margin-top:120px;
}
.read--more{
    position:static;
    text-decoration: underline;
}
.read--more:hover{
    background-color: pink;
}
.content--read{
    margin:0 5px 0 5px;
}
.range--all--product{
    margin-left:5%;
}
.feature{
    background-color:darkorange;
    transition: background-color 2s ease;
}
.fa-star{
    color:#c59b08;
}
.videoforfun{
    color:rgba(176, 39, 121, 0.8);
    box-shadow: currentcolor 0px 2px 2px 1px;
}
.textfun{
    font-weight:bold;
}
.picture--beauty{
    width:300px;
    height: 300px;
}
.read--more--feature{
    position:relative;
    bottom:10px;
}
footer{
    margin-top:100px;
    background-color:papayawhip;
}
.foot{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.show{
    display:grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 120px;

}
.end{
    display:block;
    background-color:papayawhip;
    position:static;
}
.li1{
    list-style-type:disc;
    text-decoration: underline;
    line-height: 45px;
    cursor: pointer;
}
.cate{
    margin-right:40px;
}
hr{
    border:solid papayawhip;
}
.name{
    display:grid;
    justify-content: space-around;
    grid-template-columns: 30% 23%;
    margin-top:3%;
}
.mylink{
    display: flex;
    justify-content: center;
}
.linkcuatoi{
    margin-left:5%;
}
.fa-facebook,.fa-instagram,.fa-tiktok{
    font-size: 30px;
    color:black;
}
.last--home{
    display:inline-block;
    font-weight: lighter;
    font-size: 20px;
    position:relative;
    top:15px;
    width:max-content;
}
.last--name{
    display:inline-block;
    text-decoration: underline;
    color:black;
    width:max-content;
}

.Diamond5--nav{
    margin-left:10%;
}
.home--diamond5{
    color:gray;
    text-decoration: none;
}
.product--diamond{
    display:flex;
}
.img--diamond-first{
    width:500px;
    height:500px;
}
.title-diamond5{
    margin-top:12%;
}
.content--diamond--first{
    width:50%;
    text-align: justify;
}
.box--sub--diamond5{
    display:flex;
}
.numberout--diamond-first{
    width:40px;
}
.sub--diamond5--first{
    margin-left:30%;
    background-color: black;
    text-align: center;
    color:white;
    border-radius: 10%;
}
.sub--diamond5--first:hover{
    transition: ease 2s;
    margin-left:40%;
}

.table--diamond-first{
    margin:auto;
    border-collapse: collapse;
    display: flex;
    border-bottom:solid;
    justify-content: center;
}
.des,.rev{
    width:100px;
    text-align: center;
    outline:solid  white;
    border-top:solid;
    border-right:solid;
    border-left:solid;
    text-decoration:underline;
}
.des{
    border-right:solid 10px;
    background-color: black;
    color:white;
}
.des:hover,.rev:hover{
    background-color: black;
    color: pink;
    border: solid black;
    border-bottom: none;
    cursor: pointer;
}

#Hiden-Show{
    display:none;
    width:50%;
    border:solid;

}
.context--description--first{
    width:50%;
    margin-left:30%;
    margin-top:3%;
    text-align: justify;
}
.submit--comment--product{
    line-height: 30px;
    background-color: black;
    color:white;
    margin-top:5px;
    border: solid;
    border-radius: 20%;
}
.submit--comment--product:hover{
    background-color: rgba(7, 5, 12, 0.7);
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
  display:none;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
    margin-top:-16px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.product--review{
    clear:both;
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.td-first{
    width:max-content;
}
.Add--product{
    height:100px;
    background-color: papayawhip;
    width:75%;
    margin-left:10%;
    border-left:solid 12px oldlace;
    display:flex;
    justify-content: space-between;
    display:none;
}
.view--cart{
    background-color: black;
    color:white;
    font-size: 20px;
    border:solid black;
    border-radius: 15% ;
    margin-top:28%;
    line-height: 40px;
    
}
.product--diamond2{
    display:none;
}
.number--product1,.number--product2,.number--product3,.number--product4,.number--product5,.number--product6,.number--product7
,.number--product8,.number--product9,.number--product10,.number--product11,.number--product12,.number--product13,.number--product14
,.number--product15,.number--product16,.number--product17,.number--product18,.number--product19,.number--product20,
.number--product21,.number--product22,.number--product23,.number--product24{
    width:100px;
}
.div--view--cart{
    margin-right:1%;
}
.context--product--cart{
    margin-top:3.5%;
    text-indent: 10px;
}
.related{
    text-align: center;
    margin-bottom:4%;
}
.next--stage{
    margin-top:100px;
    background-color: papayawhip;
}
#Pre{
    margin-left:45%;
}
.pagination{
    background-color: papayawhip;
    margin-top:3%;
}

#Will--Be--Show{
    display:none;
}
.img--checkout--first{
    width:90%;
    height:400px;
}
.page--checkout--title{
    text-indent: 10%;
    font-size: 40px;
    font-weight: bold;
}
.submit--checkout{
    color:white;
    background-color: black;
    border:solid black;
    border-radius: 10%;
}
#form--check--out{
    margin-left:10%;
}
.submit--checkout{
    margin-top:4%;
}
#your--order{
    border:solid 10px white;
}
.img--shop{
    background-image: url('https://vang-24h.com.vn/wp-content/uploads/2020/03/Hot-xoan.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height:200px;
    width:100%;
}
.context--shop{
    text-align: center;
    line-height: 200px;
    font-size: 100px;
    color:white;
    text-shadow: 1px -5px 10px black;
}
.Can--le--Shop{
    margin-top:1%;
}
.img--product--shop:hover{
    transition: ease 2s;
    box-shadow: 0px 0px 14px 6px black;
}
.product-list{
    display:grid;
    grid-template-columns: 277px 277px 277px 277px;
    margin-left:13%;
}
.product{
    margin-top:100px;
}
#pagina{
    background-color:white;
    margin-left:50px;
    margin-top:120px;
}
.Sort---shop{
    display:flex;
    justify-content: space-around;
}

#sort-price-increase,#sort-price-derease{
    background-color:white;
    border-left:none;
    border-right:none;
    width:max-content;
    position:relative;
    top:45px;
}
#sort-price-increase{
    border-bottom:none;
}
#sort-price-derease{
    border-top:none;
}
#sort-price-increase:hover,#sort-price-derease:hover{
    font-weight: bold;
}
#search-input{
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.Shop---DGE{
    text-indent: 10%;
    margin-top: 1%;
    font-weight: bold;
    font-size: 40px;
}
.showing-shop{
    text-indent: 9%;
    margin-top:1%;
}

.newest{
    width:80%;
}
.content--newest{
    background-color: papayawhip;
    height:130px;
}
.newest--gem{
    font-weight: bold;
    font-size: 20px;
}
.News{
    font-size: 40px;
    font-weight: bold;
}
#cham---cham--cham{
    font-size: 20px;
    position:relative;
    top:10px;
}
#cham---cham{
    font-size: 20px;
    
}
.content--ourteam{
    font-size: 20px;
    font-weight: bold;
}
.time{
    color:gray;
}
#New{
    margin-top:100px;
}
.bol--newest{
    font-weight: bolder;
}
.can--le-newest{
    text-align: justify;
}
#newest--down{
    margin-top:50px;
}
#infomation--newest--colum1:hover,#newest--down:hover{
    transition: ease 2s;
    background-color:bisque;
    box-shadow: 0px 0px 14px 6px rgba(155, 122,222, 0.5);
}
.img--newest--diamond{
    width:100%;
    height:50rem;
}
.img--newest--diamond1{
    width:100%;
}
.diamond--new{
    font-weight: bold;
    font-size: 50px;
}
.content--new--gemstone{
    text-align: justify;
}
.leave--reply{
    font-weight:400;
    font-size: 40px;
}
#submit--newest{
    line-height: 50px;
    background-color: black;
    outline: black;
    color:white;
    border:solid;
    border-radius: 12%;
    display:block;
    margin-top:10px;
}

.submit--contactUs,.submit--contactUs--reset{
    line-height: 30px;
    background-color: black;
    outline: black;
    color:white;
    border:solid;
}
.submit--contactUs{
    border-radius:13%;
}
.submit--contactUs--reset{
    border-radius: 20%;
    margin-bottom:5%;
}
#submit--newest:hover,.submit--contactUs:hover{
    transition: ease 1s;
    background-color: rgba(7, 5, 12, 0.8);
}
.next--newest{
    float:right;
    color:black;
}
.previous--newest{
    color:black;
}
.next--newest:hover,.previous--newest:hover{
    text-decoration: underline 5px;
}
#check--box,#SaveName{
    display:inline;
}
#check--box{
    margin-top:20px;
}
.box-ourteam{
    background-color: papayawhip;
}
.contact--us{
    color:black;
    font-size: 20px;
    
}
.contact--us:hover{
    text-decoration: underline 5px;
}
#Box--ourteam{
    margin-top:10%;
}
#Box--forall{
    margin-top:10%;
    background-color: papayawhip;
}
#Box--content--one{
    height:70px;
}
#OurTeam--leader{
    background-color:bisque;
   
}
#OurTeam--member{
    background-color: papayawhip;
}
.leader-writer{
    text-align: justify;
    position: relative;
    padding-left: 30px;
    padding-top: 12%;
}
.img--ourteam{
    width:200px;
    height:200px;
}
#Box--ourteam--member{
    margin-top:4%;
}
.context{
    text-align: center;
}
.setting--content{
    text-indent: 20%;
    font-size: 30px;
    font-weight: bold;
}
.setting--content1{
    text-indent: 21%;
    margin-top:-10px;
}
.justified--content{
    text-align: justify;
}
#modified--content--box{
    border:solid white;
    box-shadow: 0px 0px 12px 3px rgba(7, 5, 12, 0.2);
    border-radius: 5%;
}
.img--team{
    width:100px;
    height:100px;
    border:solid white;
    border-radius: 50%;
}
#near--last--ourteam{
    margin-top:10%;
}
.contact-us--content{
    font-size: 20px;
    font-weight: bold;
}
.google-map{
    width:100%;
    margin-top:5%;
    height:400px;
    margin-bottom: 5%;
}
.caption--contact{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#box-check:checked{
    background-color: gray;
}
#name--contactUs,#email--contactUs{
    border-bottom:solid red 1px;
}
#box--contact--1{
    border:dashed 1px;
    border-right:none;
}
#box--contact--2{
    background-color:papayawhip;
    border:dashed 1px;
    border-left:none;
}
.deltail--contact{
    padding-top: 20px;
    padding-left:5px;
}
.contactUs--email{
    display: inline-block;
    width:max-content;
}
#CreatMusic{
    display:none;
}